footer {
  background-color: #eeeeee;
  color: #009966;
}

.fa-facebook-f {
  color: #3B5998;
}

.fa-twitter {
  color: #00ACED;
}

.fa-linkedin-in {
  color: #007BB6;
}

.fa-instagram {
  color: #588AAF;
}
