@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');

body {
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.container {
    padding-top: 100px;
    text-align: center;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 25px;
    margin-top: 5px;
    font-weight: bold;
    line-height: 1.3em;
    color: #B0BEC5;
}

.title p.alert {
    color: #e00000;
}
